name: Linter
permissions:
  pull-requests: read
  checks: write

on:
    push:
      branches: [ "master" ]
    pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false
    # python-lint
    - name: Install the latest version of ruff
      uses: astral-sh/ruff-action@57714a7c8a2e59f32539362ba31877a1957dded1 # v3.5.1
      with:
        version: "latest"
        args: "format --check --diff"
    - name: Run Ruff linter
      run: |
        # check the formatted codes
        ruff check --select I --fix
        ruff format
        # run the linters
        ruff check .
    # Dockerfile lint
    - name: hadolint
      uses: reviewdog/action-hadolint@921946a7ebaaf08ac72607bad67209f4e52b5407 # v1.50.5
      with:
        hadolint_ignore: DL3007 SC2114
        reporter: github-check

    # misspell
    - name: misspell
      uses: reviewdog/action-misspell@d6429416b12b09b4e2768307d53bef58d172e962 # v1.27.0
      with:
        locale: "US"
        reporter: github-check
    # AutoCorrect
    - name: AutoCorrect
      uses: huacnlee/autocorrect-action@bf91ab3904c2908dd8e71312a8a83ed1eb632997 # main
    - name: Report ReviewDog
      if: failure()
      uses: huacnlee/autocorrect-action@bf91ab3904c2908dd8e71312a8a83ed1eb632997 # main
      env:
        REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        reviewdog: true
