name: Publish to PyPI
permissions: {}

on:
  push:
    branches: [ "master" ]
    paths:
    - '.github/workflows/pypi-publish.yml'
    - 'pdm.lock'
    - 'pyproject.toml'
  workflow_dispatch:

jobs:
  pypi-publish:
    # Specifying a GitHub environment is optional, but strongly encouraged
    environment: pypi
    name: upload release to PyPI
    runs-on: ubuntu-latest
    permissions:
      # IMPORTANT: this permission is mandatory for trusted publishing
      id-token: write
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - uses: pdm-project/setup-pdm@94a823180e06fcde4ad29308721954a521c96ed0 # v4.4
      - name: Publish package distributions to PyPI
        run: pdm publish --repository pypi
